{
  "swagger": "2.0",
  "info": {
    "title": "Storage",
    "version": "1.0",
    "description": "Storage API."
  },
  "host": "storage-apim.azure-api.net",
  "produces": [
    "application/json",
    "text/plain"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "api-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": [
      ]
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/{key}": {
      "get": {
        "description": "Get",
        "operationId": "get-get",
        "summary": "Get",
        "tags": [
          "storage",
          "download",
          "blob"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "",
            "minLength": 1,
            "pattern": "[^/]+"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Any"
          },
          "400": {
            "$ref": "#/responses/Error"
          },
          "404": {
            "$ref": "#/responses/Error"
          },
          "502": {
            "$ref": "#/responses/Error"
          },
          "503": {
            "$ref": "#/responses/Error"
          }
        },
        "produces": [
          "application/json",
          "text/plain"
        ]
      },
      "post": {
        "description": "Set",
        "operationId": "post-set",
        "summary": "Set",
        "tags": [
          "storage",
          "upload",
          "blob"
        ],
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "",
            "type": "string",
            "enum": ["sync", "async"]
          },
          {
            "name": "key",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "",
            "minLength": 1,
            "pattern": "[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
            },
            "description": "",
            "required": true
          }
        ],
        "consumes": [
          "text/plain",
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Text"
          },
          "400": {
            "$ref": "#/responses/Error"
          },
          "404": {
            "$ref": "#/responses/Error"
          },
          "502": {
            "$ref": "#/responses/Error"
          },
          "503": {
            "$ref": "#/responses/Error"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "responses": {
    "Any": {
      "examples": {
        "text/plain": "123123",
        "application/json": {
          "firstName": "Amy",
          "lastName": "Smith"
        }
      },
      "headers": {
        "Content-Type": {
          "type": "string",
          "enum": ["text/plain", "application/json"]
        }
      },
      "description": "",
      "schema": {
        "$ref": "#/definitions/Any"
      }
    },
    "Text": {
      "examples": {
        "text/plain": "\"data\" saved"
      },
      "headers": {
        "Content-Type": {
          "type": "string",
          "enum": ["text/plain"]
        }
      },
      "description": "",
      "schema": {
        "$ref": "#/definitions/Text"
      }
    },
    "Error": {
      "description": "",
      "examples": {
        "text/plain": "something went wrong"
      },
      "schema": {
        "$ref": "#/definitions/Error"
      },
      "headers": {
        "Content-Type": {
          "enum": ["text/plain"],
          "type": "string"
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "minLength": 1,
      "example": "something went wrong",
      "type": "string",
      "title": "Error Response"
    },
    "Any": {},
    "Text": {
      "type": "string",
      "minLength": 1,
      "example": "OK"
    }
  },
  "tags": [
    {
      "name": "storage",
      "description": "storage"
    }
  ]
}
